<div class="row">
  <div class="col-sm-6">
  
    <h1> <b> <%= @order.restaurant%> </b> Order details</h1>
  </div>

  <% if @order.status == 'Waiting'%>
    <div class="col-sm-6 text-right">
    <%= link_to new_order_order_user_order_detail_path, class: 'btn btn-primary' do %>
      Add New Order detail
    <% end %>
    </div>
  <%end%>

</div>
<%= render 'order_details', order_details: @order_details ,order: @order ,invited_users: @invited_users  %>
<%= link_to 'Back', orders_path , class:"btn btn-secondary " %>
