<div class="media-heading">
  <br>
    <%= link_to notification.actor.first_name , main_app.friendships_path %> has invited you to a new order 
    <%= link_to "Join" ,main_app.orders_path , class:"btn btn-primary btn-sm float-right"%> 
  <hr>
</div>

