<div class="media-heading">
  <br>
  <%= notification.msg %>
    <%= link_to "Join" ,main_app.join_order_path(current_user.try(:id),notification.second_target_id) , class:"btn btn-primary btn-sm float-right"%> 
  <hr>
</div>

