<div class="media-heading">
  <br>
    <%= link_to notification.actor.first_name , main_app.friendships_path %> has removed you
     from <%= notification.second_target.order_for %> from <%= notification.second_target.restaurant %> 
  <hr>
</div>

