<footer class="footer text-muted bg-dark">
  <div style= "text-align:center;">
    <span >© <%= Date.today.year %> Otlob Ordering System - ITI Intake 39 - Cloud Platform Development</span>
  </div>
</footer>
