<h1>Welcome to OTLOB!</h1> <hr>
<p class="lead">
Use this simple ordering system to facilitate ordering from restaurants
with your friends at university or work.<br> <br> <br>
We wish you a good appetite &#129321; </p>


